
thead.ant-table-thead > tr > th {
  background-color: #dcd7c9 !important;
}

.ant-table-cell {
  border: thin solid #646464!important;
  @apply w-1/5
}

th.ant-table-cell {
    border-radius: 0 !important;
}
