@layer theme, base, antd, components, utilities;
@import "tailwindcss";

body {
  padding: 0px;
  margin: 0;
  background-color: #d9d9d9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu-icon {
  background-image: url("src/assets/menu.svg");
}

.delete-icon {
  background-image: url("src/assets/delete.svg");
}

.edit-icon {
  background-image: url("src/assets/edit.svg");
}

input.check-icon:checked {
  background-image: url("src/assets/check.svg");
}

.cross-icon {
  background-image: url("src/assets/cross.svg");
}

.article-icon {
  background-image: url("src/assets/article.svg");
}

.main-color {
  background-color: #dcd7c9;
}
