@layer theme, base, antd, components, utilities;
@import "tailwindcss";

body {
  padding: 0px;
  margin: 0;
  background-color: #d9d9d9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu-icon {
  background-image: url("src/assets/menu.svg");
}

.delete-icon {
  background-image: url("src/assets/delete.svg");
}

.edit-icon {
  background-image: url("src/assets/edit.svg");
}
/* 
.check-icon {
  background-image: url("src/assets/check.svg") !important;
} */

.cross-icon {
  background-image: url("src/assets/cross.svg");
}

.article-icon {
  background-image: url("src/assets/article.svg");
}

.main-color {
  background-color: #dcd7c9;
}

.check-icon .ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: lime !important;
}

.check-icon .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #d9d9d9 !important;
}

.check-icon.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background-color: white !important;
}

.check-icon .ant-checkbox-wrapper .ant-checkbox-inner {
  background-color: #d9d9d9 !important;
}