@import "tailwindcss";

body {
  padding: 0px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu-icon {
  background-image: url("src/assets/menu.svg");
}

.delete-icon {
  background-image: url("src/assets/delete.svg");
}

.edit-icon {
  background-image: url("src/assets/edit.svg");
}

.main-color {
  background-color: #dcd7c9;
}
